{{! TODO: add color--this is drab as fuck. but keep it classy }}

<section class="mt-10 grid gap-4">
  <div class="-ml-4">
    <h2 class="text-3xl font-bold capitalize small-caps">{{@key}}</h2>
    <hr class="mt-3 w-1/4" />
  </div>
  {{#each this}}
    <div class="border-left-2 group transition-all {{#if bullets}}cursor-pointer group-focus:cursor-default{{/if}}" tabindex="0">

      {{! title }}
      <div class="grid">
        <h3 class="row-start-1 text-xl">
          <span class="font-bold">{{title}}</span>{{#if subtitle}},{{/if}}
          <span class="tracking-wide text-gray-700">{{subtitle}}</span>
        </h3>

        <h4 class="row-start-2">
          <span>{{institution}}</span>
          {{#if institution}}
            {{#if location}}
              —
            {{/if}}
          {{/if}}
          <span>{{location}}</span>
        </h4>

        <span class="row-start-1 justify-self-end font-light">
          {{dateFormat date}}
        </span>
      </div>

      {{! summary }}
      <p class="italic">{{summary}}</p>

      {{! bullets and links }}
      <div
        class="max-h-0 overflow-clip pl-3 duration-500 group-focus:max-h-[25vh]"
      >
        <ul class="mb-3 flex justify-center divide-x">
          {{#each links}}
            <li class="my-0 px-2 py-0">
              <a href="{{this}}">
                {{@key}}
                <i class="ri-external-link-line"></i>
              </a>
            </li>
          {{/each}}
        </ul>
        <ul class="list-['-']">
          {{#each bullets}}
            <li class="ml-2 pl-3">{{this}}</li>
          {{/each}}
        </ul>
      </div>

      {{#if bullets}}
        <div class="flex w-full justify-center text-gray-500">
          <i
            class="ri-arrow-down-s-line block scale-x-[2] scale-y-[.7] duration-700 group-hover:animate-pulse group-focus:rotate-180"
          ></i>
        </div>
      {{/if}}

    </div>
  {{/each}}
</section>